/* Navigation bar */

nav {
  display: flex;
  background-color: #ff6600;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 20px;
  font-size: 1.2rem;
  height: 80px;
  border-radius: 3px 3px 0 0;
  position: relative;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  margin: 0 3px;
}

.nav-right {
  position: absolute;
  display: flex;
  right: 30px;
  text-align: center;
}

.submit-form {
  border: 2px solid red;
}
