/* Lists of stories */

.stories-list {
  margin: 30px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 1.2rem;
  margin: 10px 0;
  height: auto;
  border-bottom: 1px solid rgba(41, 41, 41, 0.2);
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

/* Individual stories */

.story-link {
  color: black;
  font-size: 1rem;
  font-weight: normal;
  margin: 20px 5px 0px;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  color: #4c9336;
  font-weight: bold;
  display: block;
  margin: 10px 0px 10px 30px;
}

.story-user {
  display: block;
  font-weight: bold;
  color: #f5a941;
  margin: 5px 0px 10px 30px;
}

.unchecked {
  font-size: 1rem;
  color: rgba(185, 185, 185, 0.536);
}

.checked {
  font-size: 1rem;
  color: rgb(239, 168, 15);
}

#trash-btn {
  font-size: 1rem;
}

#trash-btn:hover {
  color: red;
}
